.footer {
  background: rgb(0,255,0);
  background: linear-gradient(25deg, rgba(0,255,0,1) 0%, rgba(0,0,0,1) 33%);
  padding: 30px;
  text-align: right;
}

.footitem {
  color: white;
  margin: 8px;
  font-size: 20px;
}

.icon {
  font-size: 30px;
}