* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  list-style-type: none;
}

body, html, h4, p {
  margin: 0;
}

h1, h2 {
  font-family: 'Major Mono Display', monospace;
}

a {
  color: green;
}