.nav_box {
  position: relative;
  padding: 5px 0 5px 0;
}

.parallax::after {
  content: ' ';
  position: absolute;
  top: -100px;
  right: 0;
  bottom: 0;
  left: -20px;
  transform: translateZ(-1px) scale(1.5);
  background-size: 100%;
  z-index: -1;
}

.bkd1::after {
  background-image: url('../images//spiral.jpg');
  background-repeat: none;
}

.nav_title {
  font-size: 40px;
  margin: 20px 0 10px 10px;
}

.logins_box {
  padding: 10px 0 0 10px;
}

.nav_capt {
  font-size: 18px;
  margin: 0 0 15px 10px;
  color: limegreen;
}

.inactive {
  background-color: lightgreen;
}

.nav_cases_tab, .nav_contacts_tab {
  padding: 5px 15px 5px 15px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  color: black;
}

.nav_cases_tab {
  margin-left: 20px;
}

.nav_contacts_tab {
  margin-left: 10px;
}

.login_button, .logout_button {
  border: 1px solid limegreen;
  background-color: lightgreen;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
}

.register_button {
  border: none;
  background-color: rgb(0,0,0,0);
  font-size: 16px;
  color: lightgreen;
  cursor: pointer;
}

.active {
  background-color: white;
}

.nav_title {
  color: white;
}

.nav_capt {
  color: white;
}

@media only screen and (min-width: 768px) {

  .nav_title {
    margin-top: 50px;
  }
  .nav_capt {
    margin-bottom: 50px;
  }

  .parallax::after {
    top: -250px;
  }
}